<mat-toolbar color="secondary">
  <div id="header-wrapper">
    <header>
      <a [routerLink]="['/']">
        <img width="50px" src="assets/images/logo.svg" title="logo" />
        <h1>
          Hello there
        </h1>
      </a>
    </header>
  </div>
  <nav fxShow="false" fxShow.gt-sm>
    <a [routerLink]="['/questions']">Questions</a>
    <a [routerLink]="['/users']">Users</a>
  </nav>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item [routerLink]="['/questions']">Questions</button>
  <button mat-menu-item [routerLink]="['/users']">Users</button>
</mat-menu>

<router-outlet></router-outlet>
<button *ngIf="showInstall" (click)="installPwa()">Install</button>
